.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(192, 192, 192);
    z-index: 1;


   
}

.left-section {
    display: flex;
    align-items: center;
}

.menu {
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
}

.search-bar {
    flex: 1;
    padding: 9.9px;
    font-size: 15px;
    border: 1px solid rgb(192, 192, 192);
    transition: all ease 0.3s;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: -0.5px;
    width: 0;
}

.search-bar:hover {
    box-shadow: 1px 2px 5px rgb(204, 203, 203)
}


.search-button{
  height: 39px;
  width: 66px;
  background-color: #ebe8e8;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
  
}
.search-button,
.voice-button,
.notifications,
.upload,
.youtube-apps,
.my-profile{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.voice-button .tooltip,
.notifications .tooltip,
.upload .tooltip,
.youtube-apps .tooltip,
.my-profile .tooltip{
  position: absolute;
  bottom: -34px;
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.notifications:hover .tooltip,
.upload:hover .tooltip,
.youtube-apps:hover .tooltip,
.my-profile:hover .tooltip{
    opacity: 1;
}

.search {
  height: 25px;
  
}

.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ebe8e8;
    cursor: pointer;
}
.voice{
  height: 24px;
  
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 180px;
  margin-right: 16px;
}
.upload-icone{
  height:24px;
  cursor: pointer;
}
.youtube-apps-icone{
    height: 24px;
    cursor: pointer;
    
}
.notifications-icone{
    height: 24px;
    cursor: pointer;
}
.myimage{
    height: 32px;
    width: 22px;
    border-radius: 16px;
    cursor: pointer;
}
.not{
    position: relative;

}
.notification-time{
    position:absolute;
    background-color: #9e0101;
    color:white;
    top: -1px;
    right:-2px;
    padding-left:  5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
}

@media (min-width:320px) and (max-width: 480px) {
  .menu{
    height: 0;
    margin: 0;
  }
  .youtube-logo{
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .middle-section{
    margin: 0;
  }
  .search-bar{
    width: 20px;
    padding: 5px;
    font-size: 10px;
  }
  .search-button{
    width: 20px;
    height: 23px;
    margin-right: 5px;
    pointer-events: none;
  }
  .search{
    height: 15px;
    margin: 5px;
  }
  .voice-button{
    height: 25px;
    width: 23px;
    pointer-events: none;

  }
  .voice{
    height: 15px;
  }
  .right-section{
    width: 50px;
    margin-left: 10px;
  }
  .upload-icone{
    height: 0;
    pointer-events: none;
  }
  .youtube-apps-icone{
    height: 0;
    pointer-events: none;
  }
  .notifications-icone{
    height: 20px;
    pointer-events: none;
  }
  .notification-time{
    right: -5px;
    top: -2px;
    padding-top: 2px;
    padding-left: 5px;
  }
  .myimage{
    height:23px;
    width: 19px;
    margin-left: 5px;
  }
}
@media (min-width:490px) and (max-width: 780px) {
     .menu{
    height: 0;
    margin: 0;
  }
  .youtube-logo{
    height: 15px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .middle-section{
    margin: 0;
  }
  .search-bar{
    width: 20px;
    padding: 5px;
    font-size: 10px;
  }
  .search-button{
    width: 20px;
    height: 23px;
    margin-right: 5px;
    pointer-events: none;
  }
  .search{
    height: 15px;
    margin: 5px;
  }
  .voice-button{
    height: 23px;
    width: 23px;
    pointer-events: none;

  }
  .voice{
    height: 15px;
  }
  .right-section{
    width: 50px;
    margin-left: 10px;
  }
  .upload-icone{
    height: 0;
    pointer-events: none;
  }
  .youtube-apps-icone{
    height: 0;
    pointer-events: none;
  }
  .notifications-icone{
    height: 20px;
    pointer-events: none;
  }
  .notification-time{
    right: -5px;
    top: -2px;
    padding-top: 2px;
    padding-left: 5px;
  }
  .myimage{
    height:23px;
    width: 17px;
    margin-left: 5px;
  }
}