
.all-channel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px ;
  cursor: pointer; 
}
.video{
  position: relative;
  margin-bottom: 12px;
}
.image{
  width: 100%;
  border-radius: 3%;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-image{
  border-radius: 50px;
  width: 35px;
  
}
.video-author{
  margin: 0px;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 13px;

}
.video-title{
  margin:0px;
  font-size: 13px;
  margin-bottom: 5px;
}
.video-stats{
  margin: 0px;
  font-size: 12px;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  opacity: 0.8;
  font-weight: 500;

}
@media (min-width: 320px) and (max-width: 480px) { 
  .all-channel{
   grid-template-columns: 1fr;
}
}

@media (min-width:490px) and (max-width: 699px) {
  .all-channel{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:700px) and (max-width: 999px) {
  .all-channel{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .all-channel{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}